<%= form_with(model: snikk, local: true) do |form| %>
  <% if snikk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snikk.errors.count, "error") %> prohibited this snikk from being saved:</h2>

      <ul>
      <% snikk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h4>Max 140</h4>
    <%= form.text_area :body, class: "form-control input-lg" %>
  </div>

  <div class="form-group">
    <%= form.submit 'Upload Snikk', class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
