<p id="notice"><%= notice %></p>

<h1>Snikks</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snikks.each do |snikk| %>
      <tr>
        <td><%= snikk.body %></td>
        <td><%= snikk.user.email %></td>
        <td><%= link_to 'Show', snikk %></td>
        <td><%= link_to 'Edit', edit_snikk_path(snikk) %></td>
        <td><%= link_to 'Destroy', snikk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snikk', new_snikk_path %>
