<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @snikk.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @snikk.user %>
</p>

<%= link_to 'Edit', edit_snikk_path(@snikk) %> |
<%= link_to 'Back', snikks_path %>
